.App {
  text-align: center;
  padding: 1rem;
  margin: 2rem;
}

.actionBtn {
  padding: 1rem;
  margin: 1rem;
  font-size: 1.3em;
}

table, tr, td, thead, tbody {
  border: 1px solid;
  border-collapse: collapse;
  padding: 1rem;
}

table img {
  height: 200px;
}